<!-- <div class="row"style="margin: 12px;">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Control de CPE - Gestion Individual</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">

      <mat-form-field appearance="outline">
        <mat-label>Tipo Comprobante</mat-label>
        <mat-select>
          <mat-option value="option">Seleccione</mat-option>
          <mat-option value="option">Factura</mat-option>
          <mat-option value="option">Recibo por honorarios</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field hintLabel="Max 10 characters" appearance="outline">
        <mat-label>RUC Emisor</mat-label>
        <input matInput #input maxlength="10" placeholder="Ex. Nougat">
      </mat-form-field>
    </div>

    <div class="bounds">

      <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    
        <div  class="sec2"  fxFlex.col-md>
          <mat-form-field style="width:100%;" appearance="outline">
            <mat-label>Tipo Comprobante</mat-label>
            <mat-select>
              <mat-option value="option">Seleccione</mat-option>
              <mat-option value="option">Factura</mat-option>
              <mat-option value="option">Recibo por honorarios</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex.col-3 class="sec2">
          <mat-form-field style="width:100%;" hintLabel="Max 10 characters" appearance="outline">
            <mat-label>RUC Emisor</mat-label>
            <input matInput #input maxlength="10" placeholder="Ex. Nougat">
          </mat-form-field>
        </div>
        <div fxFlex.col-6 class="sec2" >
          <mat-form-field style="width:100%;" hintLabel="Max 10 characters" appearance="outline">
            <mat-label>RUC Emisor</mat-label>
            <input matInput #input maxlength="10" placeholder="Ex. Nougat">
          </mat-form-field>
        </div>
    
      </div>
    
    </div> 

    <div class="containerX">

      <div flex fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="50" style="background-color: coral;">
          dfgfdg
        </div>
        <div fxFlex="33" style="background-color: crimson;">dfgd</div>
        <div fxFlex="17" style="background-color: darkgreen;">dfg</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div> -->
<div class="row" style="padding: 12px;">
<div class="containerX">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Control de CPE - Gestion Individual</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div flex fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex="100" >
            <div flex fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="20" class="sec2" >
                  <mat-form-field style="width:100%;" appearance="outline">
                    <mat-label>Tipo Comprobante</mat-label>
                    <mat-select>
                      <mat-option value="option">Seleccione</mat-option>
                      <mat-option value="option">Factura</mat-option>
                      <mat-option value="option">Recibo por honorarios</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="15" class="sec2">
                  <mat-form-field style="width:100%;" hintLabel="Max 10 characters" appearance="outline">
                    <mat-label>Ruc Emisor</mat-label>
                    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                  </mat-form-field>
                </div>
                <div fxFlex="15" class="sec2" >
                  <mat-form-field style="width:100%;" hintLabel="Max 10 characters" appearance="outline">
                    <mat-label>Serie</mat-label>
                    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                  </mat-form-field>
                </div>
                <div fxFlex="15" class="sec2">
                  <mat-form-field style="width:100%;" hintLabel="Max 10 characters" appearance="outline">
                    <mat-label>Numero</mat-label>
                    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                  </mat-form-field>
                </div>
                <div fxFlex="20" class="sec2" style="text-align: left; padding-top: 18px;">
                 
                    <button matInput #input mat-flat-button color="primary">
                      <mat-icon>search</mat-icon>
                      Buscar
                    </button>
                  
                </div>
                
            </div>
          </div>
        </div>

        <br>
        <mat-divider></mat-divider>
        <br>
        
      
          <div flex fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="100" >
            <div  style="border: 1px solid #f4f4f4;">
              <table mat-table [dataSource]="dataSource">
            
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          </div>  
        
      </mat-card-content>
      </mat-card>
</div>
</div>




