

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}



mat-grid-tile {
  background: lightcoral;
}



.sec1 {
  border: solid 1px;
  color:white;
}

.sec2 {
  /*border: solid 1px;*/
  padding: 6px;
}

.sec3 {
  border: solid 1px;
}

.sec1, .sec2, .sec3 {
  padding-top:8px;
  text-align:center
}

.content {
  min-width: 300px;
  /*height: 400px;*/
}

table {
  width: 100%;
}
